:root {
	/*     color-scheme-1*/
	--color-1: rgba(33, 58, 63, 1);
	--color-2: rgba(191, 47, 86, 1);
	--color-3: rgba(198, 216, 60, 1);
	--color-4: rgba(216, 135, 88, 1);
	--color-5: rgba(191, 173, 162, 1);

	/*     color-scheme-2   */
	/*--color-1: rgba(111, 191, 183, 1);*/
	/*--color-2: rgba(242, 198, 65, 1);*/
	/*--color-3: rgba(242, 149, 68, 1);*/
	/*--color-4: rgba(242, 102, 102, 1);*/
	/*--color-5: rgba(242, 242, 242, 1);*/

	/*     color-scheme-3   */
	/*--color-1: rgba(84, 109, 114, 1);*/
	/*--color-2: rgba(137, 160, 165, 1);*/
	/*--color-3: rgba(242, 242, 242, 1);*/
	/*--color-4: rgba(2, 114, 114, 1);*/
	/*--color-5: rgba(164, 188, 191, 1);*/

	--color-6: rgba(0,0,0,1);
	--color-7: rgba(255,255,255,1);

}

/* https://css-tricks.com/accessible-simple-responsive-tables/ */
/* responsive tables from css tricks */

.Rtable {
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 3em 0;
	padding: 0;
}

.Rtable-cell {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	width: 100%;
	padding: 10px 10px;
	overflow: hidden;
	list-style: none;
	border: solid 1px var(--color-1);
	background: var(--color-2);
}

.Rtable-cell--head {
	background-color: transparent;
	border-color: transparent;
	color: var(--color-2);
	font-size: 40px;
	padding: 20px 10px;
}

.Rtable-cell--weather {
	background-color: transparent;
	border-color: transparent;
	font-size: 30px;
	text-transform: capitalize;
}

.label{
	width: 35%;
	color: var(--color-4);
}

.data{
	font-weight: bold;
}

.unit{
	margin: 0 0 0 3px;
	color: var(--color-5);
}

body {
	background: var(--color-1);
}

main {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	font-family: Arial, Helvetica, sans-serif;
	color: var(--color-3);

}

#results{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.result-background{
	background-image: url("http://openweathermap.org/img/w/04d.png");
	background-size: contain;
	align-self: center;
	background-repeat: no-repeat;
	opacity: 0.5;
	width: 40vw;
	height: 40vw;
	position: absolute;
	z-index: -1;
	filter: blur(2px);
	-webkit-filter: blur(2px);
}

form{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

.main-display-item{
	display: inline-block;
	margin: 5px;

}

.sub-display-item{
	display: inline-block;
	font-size: 15px;
}

/*#city{*/
/*	width: 45vw;*/
/*	padding: 0;*/
/*	height: 40px;*/
/*	font-size: 25px;*/
/*	background: var(--color-3);*/
/*	color: var(--color-1);*/
/*	border-radius: 5px;*/
/*	border-color: var(--color-4);*/
/*}*/

#city:focus {
	outline: inset var(--color-2) 3px;
	outline-offset: -3px;
}


#getTemp, #city, button{
	display: inline-block;
	padding: 10px 15px;
	font-size: 20px;
	border-radius: 0;
	-webkit-appearance: none;
	border: 1px solid transparent;
	background: var(--color-3);
	color: var(--color-6);
}

#city{
	background: var(--color-7);
}

button{
	width: auto;
	height: auto;
}

/*used https://cssgradient.io/ to create the following gradient for the temp colors*/

.textBackground {
	background: linear-gradient(90deg, rgba(111, 255, 252, 1) 0%, rgba(14, 0, 255, 1) 40%, rgba(0, 255, 10, 1) 55%, rgba(255, 199, 0, 1) 70%, rgba(255, 0, 0, 1) 90%);
	background-size: 10000px;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	background-position: 55%;
}